@font-face {
    font-family: get_schwifty;
    src: url('../../assets/font/get_schwifty.ttf');
    color: antiquewhite;
}
.fatherCard{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:25vw;
    height: 25vw;
    border: 1px solid #06d6a0;
    border-radius: 5px;
    overflow: hidden;
    
}
.cardButton{
    display: inline-block;
}
.cardButton button{
        background-color: red;
}

.card{ 
    font-family: get_schwifty;
    letter-spacing:3px;
    color: rgb(27, 239, 16);
    width: 100%;
    border-radius: 1em;   
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
  
} 
.cardInfo{
    display: block;
    width: 100%;
    position:absolute;   
    transform-style: preserve-3d;
}
.cardImg{
    /* position:absolute; */
    width: 98%;
    overflow:hidden;
    border-radius: 1em;
    backface-visibility: hidden;
    transform: translateZ(20px);
    display: block;
    margin-bottom: 0px;

}
.card:hover .cardImg{
    transform: rotateY(180deg);
    transition: all 600ms;
}
.card:hover .cardInfo{
    /* transform: rotateY(180deg); */
    transition: all 600ms;
}

.cardInfo a{
    text-decoration: none;
    margin-top: 2em;
}


.card img{
   width: 100%; 
   margin-bottom:0px; 
}

